/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: shortcuts */
.btn{display:inline-block;cursor:pointer;border-radius:0.25rem;--un-bg-opacity:1;background-color:rgba(15,118,110,var(--un-bg-opacity));padding-left:1rem;padding-right:1rem;padding-top:0.25rem;padding-bottom:0.25rem;--un-text-opacity:1;color:rgba(255,255,255,var(--un-text-opacity));}
.btn:disabled{cursor:default;--un-bg-opacity:1;background-color:rgba(75,85,99,var(--un-bg-opacity));opacity:0.5;}
.btn:hover{--un-bg-opacity:1;background-color:rgba(17,94,89,var(--un-bg-opacity));}
/* layer: default */
.absolute{position:absolute;}
.relative{position:relative;}
.inset-0{inset:0;}
.right-0{right:0;}
.top-3{top:0.75rem;}
.m-auto{margin:auto;}
.mx-auto{margin-left:auto;margin-right:auto;}
[mx=""]{margin-left:1rem;margin-right:1rem;}
.-mt-3{margin-top:-0.75rem;}
.mr-2{margin-right:0.5rem;}
.mr-3{margin-right:0.75rem;}
.mt-12{margin-top:3rem;}
.mt-2{margin-top:0.5rem;}
.mt-4{margin-top:1rem;}
.mt-6{margin-top:1.5rem;}
.block{display:block;}
.h-5{height:1.25rem;}
.h1{height:0.25rem;}
.w-5,
[w-5=""]{width:1.25rem;}
.w-full,
[w-full=""]{width:100%;}
.flex{display:flex;}
.inline-flex,
[inline-flex=""]{display:inline-flex;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.cursor-pointer{cursor:pointer;}
.items-center,
[items-center=""]{align-items:center;}
.justify-center,
[justify-center=""]{justify-content:center;}
.justify-between{justify-content:space-between;}
.gap-6{grid-gap:1.5rem;gap:1.5rem;}
.gap-y-4{grid-row-gap:1rem;row-gap:1rem;}
.gap-y-6{grid-row-gap:1.5rem;row-gap:1.5rem;}
.b,
.border,
[b=""],
[border=""]{border-width:1px;}
.border-t{border-top-width:1px;}
.border-gray-200{--un-border-opacity:1;border-color:rgba(229,231,235,var(--un-border-opacity));}
.border-gray-300,
[border-gray-300=""]{--un-border-opacity:1;border-color:rgba(209,213,219,var(--un-border-opacity));}
.border-transparent{border-color:transparent;}
.dark .dark\:border-gray-700,
.dark [dark\:border-gray-700=""]{--un-border-opacity:1;border-color:rgba(55,65,81,var(--un-border-opacity));}
.focus\:border-indigo-600:focus{--un-border-opacity:1;border-color:rgba(79,70,229,var(--un-border-opacity));}
.rounded-lg{border-radius:0.5rem;}
.rounded-md,
[rounded-md=""]{border-radius:0.375rem;}
.bg-green-200{--un-bg-opacity:1;background-color:rgba(187,247,208,var(--un-bg-opacity));}
.bg-red-200{--un-bg-opacity:1;background-color:rgba(254,202,202,var(--un-bg-opacity));}
.bg-white,
[bg-white=""]{--un-bg-opacity:1;background-color:rgba(255,255,255,var(--un-bg-opacity));}
.dark .dark\:bg-gray-700,
.dark [dark\:bg-gray-700=""]{--un-bg-opacity:1;background-color:rgba(55,65,81,var(--un-bg-opacity));}
.dark .dark\:bg-inherit{background-color:inherit;}
.dark .dark\:hover\:bg-gray-600:hover{--un-bg-opacity:1;background-color:rgba(75,85,99,var(--un-bg-opacity));}
.hover\:bg-gray-50:hover,
[hover\:bg-gray-50=""]:hover{--un-bg-opacity:1;background-color:rgba(249,250,251,var(--un-bg-opacity));}
.p-4{padding:1rem;}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.px-6,
[px-6=""]{padding-left:1.5rem;padding-right:1.5rem;}
.py-3,
[py-3=""]{padding-top:0.75rem;padding-bottom:0.75rem;}
.pt-10{padding-top:2.5rem;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.font-sans{font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-sm,
[text-sm=""]{font-size:0.875rem;line-height:1.25rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.font-bold{font-weight:700;}
.font-medium{font-weight:500;}
.font-semibold,
[font-semibold=""]{font-weight:600;}
.leading-5,
[leading-5=""]{line-height:1.25rem;}
.dark .dark\:text-gray-200{--un-text-opacity:1;color:rgba(229,231,235,var(--un-text-opacity));}
.dark .dark\:text-gray-50,
.dark [dark\:text-gray-50=""]{--un-text-opacity:1;color:rgba(249,250,251,var(--un-text-opacity));}
.hover\:text-gray-900:hover,
.text-gray-900,
[hover\:text-gray-900=""]:hover{--un-text-opacity:1;color:rgba(17,24,39,var(--un-text-opacity));}
.text-gray-400{--un-text-opacity:1;color:rgba(156,163,175,var(--un-text-opacity));}
.text-gray-500{--un-text-opacity:1;color:rgba(107,114,128,var(--un-text-opacity));}
.text-gray-600,
[text-gray-600=""]{--un-text-opacity:1;color:rgba(75,85,99,var(--un-text-opacity));}
.text-gray-700{--un-text-opacity:1;color:rgba(55,65,81,var(--un-text-opacity));}
.text-white{--un-text-opacity:1;color:rgba(255,255,255,var(--un-text-opacity));}
.hover\:underline:hover{text-decoration-line:underline;}
.caret-indigo-600{--un-caret-opacity:1;caret-color:rgba(79,70,229,var(--un-caret-opacity));}
.focus\:outline-none:focus,
[focus\:outline-none=""]:focus{outline:2px solid transparent;outline-offset:2px;}
.focus\:ring-2:focus,
[focus\:ring-2=""]:focus{--un-ring-width:2px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.focus\:ring-offset-2:focus,
[focus\:ring-offset-2=""]:focus{--un-ring-offset-width:2px;}
.focus\:ring-gray-500:focus,
[focus\:ring-gray-500=""]:focus{--un-ring-opacity:1;--un-ring-color:rgba(107,114,128,var(--un-ring-opacity));}
.focus\:ring-indigo-600:focus{--un-ring-opacity:1;--un-ring-color:rgba(79,70,229,var(--un-ring-opacity));}
.transition-all,
[transition-all=""]{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.duration-200,
[duration-200=""]{transition-duration:200ms;}
.placeholder-gray-500::placeholder{--un-placeholder-opacity:1;color:rgba(107,114,128,var(--un-placeholder-opacity));}
@media (min-width: 640px){
.sm\:text-sm{font-size:0.875rem;line-height:1.25rem;}
}
@media (min-width: 768px){
.md\:max-w-md{max-width:28rem;}
}